@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;700&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Great+Vibes&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

:root {
  /* Gradiente de fondo */
  --bg-gradient: linear-gradient(
    131deg,
    #f6b8b0 -3.63%,
    #e6c07a 55.5%,
    #f4d9d7 107.94%
  );

  /* Color de fondo */
  --bg-content: #F2F2F2;

  /* Fondo del Contenedor */
  --bg-container: #F2A0A0;

  /* Fondo del contador */
  --bg-contador: #F27979;

  /* Colores de texto */
  --text-primary: #3b2a27;
  --text-secondary: #ffffff;
  --text-tertiary: #8a5b3b;

  /* Fondo de cards */
  --bg-card-1: #F27979;
  --bg-card-2: linear-gradient(
    145deg,
    #6f4a20 0%,
    #9b6d2a 30%,
    #b98c3f 60%,
    #d0b37a 85%,
    #e9ddc8 100%
  );

  /* Fondo de botones */
  --bg-botones: linear-gradient(
    45deg,
    #6f4a20 0%,
    #9b6d2a 30%,
    #b98c3f 60%,
    #d0b37a 85%,
    #e9ddc8 100%
  );

  --bg-footer: #242424;
}
